:root {
  scroll-behavior: auto;
}
body {
  padding-top: 50px;
  height: 2000px;
}
.none {
  display: none;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
/* 로고 */
.navbar-brand {
  font-size: 50px;
  transition: all 1s;
}
